*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

header{
    position: fixed;
    width: 100%;
    height: 10%;
    top:0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('/assets/fondoHeader.jpg');
   background-size: cover;
    padding: 0.5% 5%;
   
}

.logo{
    display: block;
    align-items: center;
    margin-left: -5%;

}

.logo span{
    font-size: larger;
    font-weight: bolder;
    margin-left: 3px;
}

.barraNavegacion{
    display: flex;
}

.barraNavegacion a{
    padding: 10px 0;
    margin: 0px 10px;
}


.caja{
    outline: none;
    border: 1px solid olive;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 5px;
}

.RegistroLogin{
    display: flex;
    align-items: center;
}

.textBoxes {
    display: flex;
    align-items: baseline;
}

.menuDesplegable {
    display: none;
    flex-direction: column;
    cursor: pointer;
   
}

.barra {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}


.barraNavegacion.active {
    display: flex;
    flex-direction: column;
}


.textBoxes :hover{
    border: 1.2px solid #0075ff;
    box-shadow: 0 7px 7px 0 #1f212348;
}

.RegistroLogin a{
    margin-right: 10px;
    margin-left: 30px;
}

.botonLogin{
    width: 50px;
    height: 30px;
    background: white;
    border: 1px solid olive;
    border-radius: 10px;
    outline: none;
    margin: 10px 5px;
}


.login :hover{
    background: rgb(207, 236, 207);
    border: 1.2px solid olive;
    color: rgb(164, 59, 59);
    font-weight: bold;
    box-shadow: 0 7px 7px 0 #1f212348;

}

.usuarioLogueado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 130px; 
  } 

  .usuarioLogueado a, p{
    margin-right: 10px;
  }

  .usuarioLogueado button{
    width: 50px;
    height: 30px;
    background: white;
    border: 1px solid olive;
    border-radius: 10px;
    outline: none;
    margin: 10px 5px;
  }

  .usuarioLogueado button:hover{
    background: rgb(207, 236, 207);
    border: 1.2px solid olive;
    color: rgb(164, 59, 59);
    font-weight: bold;
    box-shadow: 0 7px 7px 0 #1f212348;
  }


@media (max-width: 700px){

    .menuDesplegable {
        display: flex;
    }
    .barraNavegacion {
        display: none;
        position: absolute;
        top: 50px; 
        right: 0;
        width: 200px;
        background-color: #fff; 
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       
    }

    .barraNavegacion.active {
        display: flex;
        flex-direction: column;
    }
    
}

