<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/app/perfil/perfil.component.css"  media="screen" /> 

    <title>Perfil</title>
</head>
<body>
   <main>
    <div class="cajaPerfil">
        <img src="https://s3.amazonaws.com/files.d20.io/images/362364155/D88IeUUSFgO4kDmDXFF01g/med.jpg?1696756335422&size=200x200"/>
        <input type="file" name="" id="imagen" accept="image/*">
        <label for="imagen">Editar imagen</label>
        <input type="text" name="" placeholder="Nombre de usuario">
        <button class="aceptar">Aceptar</button>
        <button class="cancelar">Cancelar</button>
    </div>
   </main>
</body>
</html>
