<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/app/crear-usuario/crear-usuario.component.css"  media="screen" />
    <title>Crear usuario</title>
</head>
<body>
    <main>
        <form [formGroup]="this.formulario">
        <div class="cajaPerfil">
            <!-- <img src=""/>
            <input type="file" name="" id="imagen" accept="image/*">
            <label for="imagen">Seleccionar imagen de perfil</label> -->
            <input type="text" name="usuario" placeholder="Nombre de usuario" formControlName="usuario">

            <div *ngIf="mensajeError" class="errores">
                {{ mensajeError }}
              </div>
            <div class="errores" *ngIf="formulario.get('usuario')?.hasError('required') && formulario.get('usuario')?.touched">
                Este campo es obligatorio.
            </div>
            <input type="password" name="password" placeholder="Contraseña" formControlName="password">
            <div class="errores" *ngIf="formulario.get('password')?.hasError('required') && formulario.get('password')?.touched">
                Este campo es obligatorio.
            </div>
            <div class="errores" *ngIf="formulario.get('password')?.hasError('minlength')">
                El tamaño mínimo es 6.
            </div>
            <div class="errores" *ngIf="formulario.get('password')?.hasError('pattern')">
                Debe contener al menos una mayúscula y un numero
            </div>
           

            <button  class="aceptar" type="submit" [disabled]="formulario.invalid" (click)="guardarDatos()">Aceptar</button>

            <button class="cancelar" type="reset">Cancelar</button>
        </div>
    </form>
       </main>
</body>
</html>
