<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/app/datos-clase/datos-clase.component.css"  media="screen" /> 

    <title>Clases</title>

</head>
<body>
   <div *ngIf="error">
        <p>Error: {{ error }}</p>
    </div>

    <div class="grid-container" *ngIf="clases">
        <div class="flip-card" *ngFor="let clase of clases">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img [src]="asignarImagen(clase.nombreClase)" alt="Front Image">
                    <h4>{{clase.nombreClase}}</h4>
                </div>
                <div class="flip-card-back">           
                    <p>{{clase.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
