
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.contenedorHechizos{
    width: 800px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20%;
}

h6{
    color: red;
}