body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .boton-crear {
    background-image: url(https://img.freepik.com/premium-photo/old-vintage-paper-texture-background_293060-5242.jpg);
    border: none;
    margin-bottom: 10px; 
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    width: 50%;
    z-index: 1; 
    border-radius: 10px;
  }

  #contenedor::-webkit-scrollbar {
    width: 12px; 
  }
  
  #contenedor::-webkit-scrollbar-track {
    background-color: #bbdcef; 
  }
  
  #contenedor::-webkit-scrollbar-thumb {
    background-color: #c79b77; 
    border-radius: 6px; 
  }
  
  #contenedor::-webkit-scrollbar-thumb:hover {
    background-color: #353434;
  }

  #contenedor {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: auto;
    background-color: #bbdcef;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 0; 
  }

  .lista-personajes {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .tarjeta {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    background-image: url(https://img.freepik.com/premium-photo/old-vintage-paper-texture-background_293060-5242.jpg);
    background-repeat: round;
   
  }

  .imagen {
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 50%;
    margin-right: 20px; 
    margin-bottom: 10px;
    object-fit: cover;
  }

  .contenido {
    padding: 10px;
  }

  .boton {
    background-color: burlywood;
    color: #ffffff;
    border: none;
    margin-top: 10%;
    margin-right: 10px; 
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }