<!doctype html>
<html>
<head>
<title>DnD Below</title>
<meta name="description" content="Homepage">
<link rel="stylesheet" type="text/css" href="/src/app/home/home.component.css"  media="screen" /> 
</head>
<body>
   
        <section>
            <img src="/assets/imagenPortada1.jpg" alt="Escapando del peligro">
     
            <img src="/assets/imagenPortada2.jpg" alt="Imagen original de Dungeons and Dragons">
       
            <img src="/assets/imagenPortada3.jpg" alt="Selune">
        
            <img src="/assets/imagenPortada4.jpg" alt="Grupo camino a Strixhaven">
      
        </section>
</body>
</html>