<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/app/crear-personaje/crear-personaje.component.css"  media="screen" /> 
    <title>Crear personaje</title>
</head>
<body>
    <form class="hojaPersonaje">
        <header>
          <section class="nombrePersonaje">
            <label for="nombrePersonaje">Nombre personaje</label>
            <input name="nombrePersonaje" />
          </section>
          <section class="miscelanea">
            <ul>
              <li>
                <label for="clase">Clase</label><input name="clase" placeholder="Clase" />
              </li>
              <li>
                <label for="trasfondo">Trasfondo</label><input name="trasfondo" placeholder="Trasfondo" />
              </li>
              <li>
                <label for="nivel">Nivel</label><input name="nivel" placeholder="1">
              </li>
              <li>
                <label for="raza">Raza</label><input name="raza" placeholder="Raza" />
              </li>
              <li>
                <label for="alineamiento">alineamiento</label><input name="alineamiento" placeholder="Alineamiento" />
              </li>
              <li>
                <label for="experiencia">Experiencia</label><input name="experiencia" placeholder="0" />
              </li>
            </ul>
          </section>
        </header>
        <main>
          <section>
            <section class="atributos">
              <div class="puntuaciones">
                <ul>
                  <li>
                    <div class="puntuacion">
                      <label for="puntuacionFuerza">Fuerza</label><input name="puntuacionrFuerza" placeholder="0" />
                    </div>
                    <div class="modificador">
                      <input name="modificadorFuerza" placeholder="0" />
                    </div>
                  </li>
                  <li>
                    <div class="puntuacion">
                      <label for="puntuacionDestreza">Destreza</label><input name="puntuacionDestreza" placeholder="0" />
                    </div>
                    <div class="modificador">
                      <input name="modificadorDestreza" placeholder="0" />
                    </div>
                  </li>
                  <li>
                    <div class="puntuacion">
                      <label for="puntuacionConstitucion">Constitucion</label><input name="puntuacionConstitucion" placeholder="0" />
                    </div>
                    <div class="modificador">
                      <input name="modificadorConstitucion" placeholder="0" />
                    </div>
                  </li>
                  <li>
                    <div class="puntuacion">
                      <label for="puntuacionSabiduria">Sabiduría</label><input name="puntuacionSabiduria" placeholder="0" />
                    </div>
                    <div class="modificador">
                      <input name="modificadorSabiduria" placeholder="0" />
                    </div>
                  </li>
                  <li>
                    <div class="puntuacion">
                      <label for="puntuacionInteligencia">Inteligencia</label><input name="puntuacionInteligencia" placeholder="0" />
                    </div>
                    <div class="modificador">
                      <input name="modificadorInteligencia" placeholder="0" />
                    </div>
                  </li>
                  <li>
                    <div class="puntuacion">
                      <label for="puntuacionCarisma">Carisma</label><input name="puntuacionCarisma" placeholder="0" />
                    </div>
                    <div class="modificador">
                      <input name="modificadorCarisma" placeholder="0" />
                    </div>
                  </li>
                </ul>
              </div>
              <div class="atributosCompetencia">
                
                <div class="salvaciones seccionLista">
                  <ul>
                    <li>
                      <label for="salvacionFuerza">Fuerza</label><input name="SalvacionFuerza" placeholder="0" type="text" /><input name="SalvacionFuerzaCompetencia" type="checkbox" />
                    </li>
                    <li>
                      <label for="salvacionDestreza">Destreza</label><input name="salvacionDestreza" placeholder="0" type="text" /><input name="salvacionDestrezaCompetencia" type="checkbox" />
                    </li>
                    <li>
                      <label for="salvacionConstitucionCompetencia">Constitucion</label><input name="salvacionConstitucion" placeholder="0" type="text" /><input name="salvacionConstitucionCompetencia" type="checkbox" />
                    </li>
                    <li>
                      <label for="salvacionSabiduria">Sabiduría</label><input name="salvacionSabiduria" placeholder="0" type="text" /><input name="salvacionSabiduriaCompetencia" type="checkbox" />
                    </li>
                    <li>
                      <label for="salvacionInteligencia">Inteligencia</label><input name="salvacionInteligencia" placeholder="0" type="text" /><input name="salvacionInteligenciaCompetencia" type="checkbox" />
                    </li>
                    <li>
                      <label for="salvacionCarisma">Carisma</label><input name="salvacionCarisma" placeholder="0" type="text" /><input name="salvacionCarismaCompetencia" type="checkbox" />
                    </li>
                  </ul>
                  <div class="label">
                    Tiradas de salvación
                  </div>
                </div>
                <div class="habilidades seccionLista">
                  <ul>
                    <li>
                      <label for="acrobacias">Acrobacias <span class="habilidad">(Des)</span></label><input name="Acrobacias" placeholder="0" type="text" /><input name="pruebaAcrobacias" type="checkbox" />
                    </li>
                    <li>
                      <label for="tratoConAnimales">Trato con animales <span class="habilidad">(Sab)</span></label><input name="tratoConAnimales" placeholder="0" type="text" /><input name="pruebaTratoConAnimales" type="checkbox" />
                    </li>
                    <li>
                      <label for="arcanos">Arcanos <span class="habilidad">(Int)</span></label><input name="Arcana" placeholder="0" type="text" /><input name="pruebaArcanos" type="checkbox" />
                    </li>
                    <li>
                      <label for="atletismo">Atletismo <span class="habilidad">(Fue)</span></label><input name="Atletismo" placeholder="0" type="text" /><input name="pruebaAtletismo" type="checkbox" />
                    </li>
                    <li>
                      <label for="enganio">Engaño <span class="habilidad">(Car)</span></label><input name="enganio" placeholder="0" type="text" /><input name="pruebaEnganio" type="checkbox" />
                    </li>
                    <li>
                      <label for="historia">Historia <span class="habilidad">(Int)</span></label><input name="historia" placeholder="0" type="text" /><input name="pruebaHistoria" type="checkbox" />
                    </li>
                    <li>
                      <label for="perspicacia">Perspicacia <span class="habilidad">(Sab)</span></label><input name="perspicacia" placeholder="0" type="text" /><input name="pruebaPerspicacia" type="checkbox" />
                    </li>
                    <li>
                      <label for="intimidacion">Intimidacion <span class="habilidad">(Car)</span></label><input name="intimidacion" placeholder="0" type="text" /><input name="pruebaIntimidacion" type="checkbox" />
                    </li>
                    <li>
                      <label for="investigacion">Investigacion <span class="habilidad">(Int)</span></label><input name="investigacion" placeholder="0" type="text" /><input name="pruebaInvestigacion" type="checkbox" />
                    </li>
                    <li>
                      <label for="medicina">Medicina <span class="habilidad">(Sab)</span></label><input name="medicina" placeholder="0" type="text" /><input name="pruebaMedicina" type="checkbox" />
                    </li>
                    <li>
                      <label for="naturaleza">Naturaleza <span class="habilidad">(Int)</span></label><input name="naturaleza" placeholder="0" type="text" /><input name="pruebaNaturaleza" type="checkbox" />
                    </li>
                    <li>
                      <label for="percepcion">Percepción <span class="habilidad">(Sab)</span></label><input name="percepcion" placeholder="0" type="text" /><input name="pruebaPercepcion" type="checkbox" />
                    </li>
                    <li>
                      <label for="interpretacion">Interpretación <span class="habilidad">(Car)</span></label><input name="interpretacion" placeholder="0" type="text" /><input name="pruebaInterpretacion" type="checkbox" />
                    </li>
                    <li>
                      <label for="persuasion">Persuasión <span class="habilidad">(Car)</span></label><input name="persuasion" placeholder="0" type="text" /><input name="pruebaPersuasion" type="checkbox" />
                    </li>
                    <li>
                      <label for="religion">Religión <span class="habilidad">(Int)</span></label><input name="religion" placeholder="0" type="text" /><input name="pruebaReligion" type="checkbox" />
                    </li>
                    <li>
                      <label for="juegoDeManos">Juego de manos <span class="habilidad">(Des)</span></label><input name="juegoDeManos" placeholder="0" type="text" /><input name="pruebaJuegoDeManos" type="checkbox" />
                    </li>
                    <li>
                      <label for="sigilo">Sigilo <span class="habilidad">(Des)</span></label><input name="sigilo" placeholder="0" type="text" /><input name="pruebaSigilo" type="checkbox" />
                    </li>
                    <li>
                      <label for="supervivencia">Supervivencia <span class="habilidad">(Sab)</span></label><input name="supervivencia" placeholder="0" type="text" /><input name="pruebaSupervivencia" type="checkbox" />
                    </li>
                  </ul>
                  <div class="label">
                    Habilidades
                  </div>
                </div>
              </div>
            </section>
          </section>
          <section>
            <section class="combate">
              <div class="valorCompetencia">
                <div>
                  <label for="valorCompetencia">Competencia</label><input name="valorCompetencia" placeholder="0" type="text" />
                </div>
              </div>
              <div class="iniciativa">
                <div>
                  <label for="iniciativa">Iniciativa</label><input name="iniciativa" placeholder="0" type="text" />
                </div>
              </div>
              <div class="velocidad">
                <div>
                  <label for="velocidad">velocidad</label><input name="velocidad" placeholder="30" type="text" />
                </div>
              </div>
              <div class="pg">
                <div class="puntosGolpe">
                  <div class="max">
                    <label for="pgMax">Puntos de golpe máximos</label><input name="pgMax" placeholder="0" type="text" />
                  </div>
                  <div class="puntosGolpeActuales">
                    <label for="puntosActuales">Puntos de golpe</label><input name="puntosActuales" placeholder="0" type="text" />
                  </div>
                </div>
                <div class="dadoGolpe">
                  <label for="dadoGolpe">Dado de golpe</label><input name="dadoGolpe" placeholder="1d8" type="text" />
                </div>
              </div>
            </section>
          </section>
        </main>
      </form>
</body>